target/*
project/target/*
project/project/target/*
project/project/project/target/*
.dimwit-docs-root/target/*
.dimwit-docs/target/*
core/target/*
nn/target/*
.bsp
.bloop
.vscode
.metals
**/metals.sbt
data
playground
*.log   
project/project/**
*.pyc
examples/target/
examples/*/.scala-build
ide-*.json
examples/vae_output
*.bak
.envrc

uv.lock
pyproject.toml